.w3-green, .w3-hover-green:hover {
    color: #fff!important;
    background-color: #4CAF50!important;
}
.w3-badge {
	border-radius: 50%;
}
.w3-badge, .w3-tag {
	background-color: #000;
	color: #fff;
	display: inline-block;
	padding-left: 4px;
	padding-right: 4px;
	text-align: center;
	position: relative;
	left: -12px;
	font-size: 2pt;
}