@charset "UTF-8";
/*
	selector
	   1. tag selector
	       -selector로 기술된 모든 태그에 css속성적용
*/

/* 사이트모든 페이지공통CSS(common.css)
body {
	background-color: aliceblue;
	color: #555555;
}

h1, h2, h3 {
	color: maroon;
}
*/

form {
	color: navy;
	border: 1px dotted black;
	width: 600px;
	margin: 0 auto;
}
/*
		2. class selector
		  - tag의 class속성과 일치하는 tag에적용
		  - selector 이름앞에 .을기술
	*/
.txtfld {
	color: blue;
	border: 1px solid blue;
}

.passfld {
	color: red;
	border: 1px dotted red;
}
/*
		3. id selector
		  - tag의 id속성과 일치하는 태그에적용
		  - selector 이름앞에  #을 기술
	*/
#jointbl {
	width: 400px;
	background-color: mistyrose;
	padding-top: 10px;
	padding-left: 10px;
}

#first-tr {
	color: orange;
	background-color: gray;
}